@import url(./Shortcuts/nav.css);

.pHome {
    display: flex;
    font-size: 2rem;
    text-align: center;
    padding: 15rem 45rem 3rem 45rem;
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 600;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;
}

body {
    background-image: url(./images/nigerian\ bandeira.png);
    background-repeat: repeat-y;
    background-size: 100%;
}