* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62,5%;
}

header nav ul li{
    display: flex;
    padding-left: 7rem;
}

header nav ul{
    display: flex;
    background-color: #0a2b1c;
    height: 5rem;
    align-items: center;
    font-size: 2rem;
}

a{
    text-decoration: none;
}

header nav ul li a{
    color: #FFFF;
}