@import url(../Shortcuts/nav.css);

.historia {
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    padding-bottom: 1rem;
}

.demografia{
    margin-top: 2rem;
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    padding-bottom: 1rem;
}

.phistoria {
    display: flex;
    font-family: Geist Mono;
    flex-direction: row;
    padding: 5rem 35rem 5rem 35rem;
}

.pdemografia {
    display: flex;
    flex-direction: row-reverse;
    font-family: Geist Mono;
    flex-direction: row-reverse;
    padding: 5rem 35rem 5rem 35rem;
}

.dimagem {
    display: flex;
}

.cidade {
    display: flex;
    flex-direction: column;
}

img {
    padding: 0rem 2rem;
}